/* Main Image*/
body{
    margin:auto;
    width: 90%;
    font-family: Candara,SANS-SERIF;
    background: rgb(252, 250, 229);
}
.image-logo{
    position: rlative;
}
.logo{
    float: left;
    padding: 0px 60px 0px 80px;
}
.logo img{
    width: 100px;
    height: 100px;
}
.logo-nav{
    position: relative;
    background: white;
}
.logo-nav:after{
    display: table;
    content: "";
    clear: both;
}
.hero-img{
    position: elative;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../logo1.jpg");
    background-position: center;
}

.header {
    position: relative;
    padding: 85px 20px 2px 80px;
    color:white;
}
.header h1{
    font-size: 60px;
    font-weight: lighter;
}
.header p{
    font-size: 21px;
    
}
a{
    text-decoration: none;
    color:white;
}

/*navigation bars*/
.navbar{
    float: right;
    padding: 20px 80px;
    list-style-type: none;
 }
 ul{
    
    list-style-type: none;
 }
 
 ul li{
     display: inline-block;
 }
 
 ul li a{
     text-decoration: none;
     color: rgb(12, 11, 11);
     padding: 10px 20px;
     border: 1px solid transparent;
     transition: 0.6s ease;
 }
 
 ul li a:hover{
     background-color: rgb(241, 235, 235);
     color: #ee853f;
 }
 
 ul li.active a{
     background-color: #fff;
     color: #ee853f;

 }
 
 .search input{
    background-color: #e6dddd;
    padding: 10px 10px;
    border: none;
    border-radius: 10px; 
  }
  
  .search input:hover{
      background-color: #fff;
      color: rgb(199, 190, 190);
      size: 2px;
  }



  /*main*/

  .row{
      display: -webkit-inline-box;
      padding: 65px 80px;
  }
  .telephone1 a{
      position: relative;
      argin-top: 550px;    
      padding: 40px 20px;
      line-height:25px;
      color: #aeb1be;
  }
.telephone1{

}
  .mail1 a{
    
      line-height: 25px;
      color: #aeb1be;
      ackground-size: cover;
      font-size: 18px;
  }
  .mail1{
    width: 240px;
    padding: 2px 76px;
    text-align: center;
    border-left: 1px solid #aeb1be;
    border-right: 1px solid #aeb1be;
  }
  .mail1.b{
      border: none;
  }
  .mail1 a i{
      font-size: 25px;
      margin-bottom: 20px;
      color: #AF8855;
  }
  .address1 a{
    position: relative;
      argin-top: 200px;
      padding: 80px 60px;
      color: #aeb1be;

  }

.contactus{
    background: #f5f6fa;

}
.contactus .twocol{
    padding: 0px 80px;
    float: left;
    width: 600px;
}
span{
    color: red;
    font-size: 14px;
}
.contactus form h1{
    font-size: 50px;
    color: rgb(12, 11, 11);
    font-weight: lighter;;
}
.contactus label{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #aeb1be;
}
  .contactus .col1 input{
      width: 100px;
      padding: 16px 80px;
      border-radius: 5px;
      border: 1px solid #aeb1be;
  }
.col1{
    float: left;
    padding: 0px 35px 0px 0px;
}
.twocol:after{
    display: table;
    content: "";
    clear: both;
}
  

  .contactus textarea{
    
    padding: 65px 198px;
    border-radius: 5px;
    border: 1px solid #aeb1be;
  }
button#sent{  
    padding: 2px 43px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 10px;
    font-family: Candara,SANS-SERIF;
    font-weight: bold;
}
.contactus iframe{
    opacity: 1px;
}


/*footer*/
  .footer-box{
    position: relative;
  }
.row-coloum{
    margin-left: 80px;
}
.logo img{
    width: 100px;
    height: 100px;
}
.footer{
    background-color: black;
    position: absolute;
    color: white;
    width: 100%;
    padding: 70px 0px;
}
.footer-aboutus{
    float: left;
    width: 310px;
    margin: 0px 65px 0px 0px;
}
.footer-contact{
    float: left;
    width: 310px;
    margin: 0px 25px 0px 65px;
}
.footer-news{
    float: left;
    width: 310px;
    margin: 0px 0px 0px 25px;
}
.headings{
    font-size: 20px;
}
.footer-text{
    font-size: 17px;
    word-spacing: 1px;
    line-height: 25px;
    color: #b4b4b4;
}
.footer-text i{
    font-size: 25px;
    color: white;
}
.footer-text a{
    line-height: 20px;
}
.footer-text a:hover{
    color: #AF8855;
}
.fa-map-marker{
    margin-left: 2px;
}
.fa-phone{
    margin-left: -5px;
}

.row-coloum:after{
    display: table;
    clear: both;
    content: "";
}
.footer-downside{

}
.down-left{
    float: left;
}
.down-right{
    float: right;
    margin-right: 80px;
}

